    <div id="wedding-intro">
        <div class="envelope-wrapper" onclick="openEnvelope()">
            <div class="envelope">
                <div class="flap">
                    <div class="wax-seal"></div>
                </div>
                <div class="letter">
                    <img src="img/logo-lg.png" class="letter-logo">
                    <p class="letter-date">{{ couple.date.display }}</p>
                </div>

            </div>
        </div>
    </div>
