    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center content">
                    <span class="to-top-wrapper"><a href="#top" class="to-top"><i class="fa fa-angle-up"></i></a></span>
                    <p>{{ couple.name1 }} <span class="fa fa-heart pulse2"></span> {{ couple.name2 }}</p>
                </div>
            </div>
        </div>
    </footer>
